:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: borrder-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}

button {
    font-size: 2rem;
    padding: 1rem;
}

header, footer, main {
    display: flex;
}

header {
    padding: 2rem;
    justify-content: space-around;
}

header > button {

}

main {
    width: 100%;
    justify-content: center;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    padding: 0;
    width: 25%;
    height: auto;
    column-gap: 0;
}

#board > button {
    aspect-ratio: 1/1;
    border-radius: 0;
}

footer {
    padding: 2rem;
    justify-content: center;
    flex: 0 0 auto;
}